<h2 class="mt-8">Product List</h2>
<ul class="mt-4 ml-6">
  <li (click)="selectedProduct = 'Webcam'" class="mt-4">Webcam</li>
  <li (click)="selectedProduct = 'Microphone'" class="mt-4">Microphone</li>
  <li (click)="selectedProduct = 'Wireless Keyboard'" class="mt-4">
    Wireless Keyboard
  </li>
</ul>

<app-product-detail
  *ngIf="selectedProduct; else noProduct"
  [name]="selectedProduct"
  (bought)="onBuy()"
></app-product-detail>

<ng-template #noProduct>
  <p class="mt-4 text-red-600 italic text-center">No product selected!</p>
</ng-template>
